.user-card-container {
  position: relative;
  border: 1px solid $clr-main-txt;
  @include card;
  width: 200px;

  .card-img {
    height: 120px;
    width: 120px;
  }

  .card-info {
    @include flex-center;
    justify-content: space-around;
    width: 70%;
    h1 {
      color: $clr-main-txt;
    }
  }

  .card-action {
    position: absolute;
    @include flex-center;
    visibility: hidden;
    padding: 6px 12px;
    border-radius: 12px;
  }

  &:hover {
    .card-action {
      visibility: visible;
    }
  }
}
