.users-list-container {
  @include flex-center-column;
  align-items: flex-start;
  gap: 24px;

  .users-list-title {
    h1 {
      color: $clr-secondary-txt;
      text-decoration: underline;
    }
  }

  h1 {
    color: $clr-main-txt;
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
