// $clr-black-12 : #121212;
// $clr-black-18:#181818;
// $clr-black-28:#282828;
// $clr-black-000: #000000;
// $clr-white-F : #FFFFFF;
// $clr-text-grey : #B3B3B3;
// $clr-search-grey : #757575;
// $clr-black-grey:#242424;
// $clr-hover-search: #2a2a2a;
// $clr-green-play:#1fdf64;

// $clr-opacity-user: rgba(252,252,252,.11);
// $clr-hover :  hsla(0, 0%, 100%, .1);

// $clr-box-shadow-whatup :#0b141a;

// $clr-blue-facbook:#3b5998;

$clr-main-bg: #1f242d;
$clr-card-bg: #007b84;
$clr-main-txt: #27ab8c;
$clr-secondary-txt: #98b0a8;
$clr-exclusive-bg: #76ce85;

$clr-scroll-bg: #2f343c;
